# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

*.txt.back
# IntelliJ project files
.idea
*.iml
out
gen
### C template
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#/cmake-build-debug/
/CMakeFiles/
!/capchild/CMakeFiles/
将删除 capchild/CMakeFiles/capchild.dir/capchild_autogen/
将删除 capchild/capchild_autogen/include/
将删除 capinfos_autogen/include/
将删除 capture_opts_autogen/include/
将删除 captype_autogen/include/
将删除 caputils/CMakeFiles/caputils.dir/caputils_autogen/
将删除 caputils/caputils_autogen/include/
将删除 cli_main_autogen/include/
将删除 conversation/
将删除 dftest_autogen/include/
将删除 dumpcap_autogen/include/
将删除 editcap_autogen/include/
将删除 epan/CMakeFiles/epan.dir/epan_autogen/
将删除 epan/CMakeFiles/exntest.dir/exntest_autogen/
将删除 epan/CMakeFiles/oids_test.dir/oids_test_autogen/
将删除 epan/CMakeFiles/reassemble_test.dir/reassemble_test_autogen/
将删除 epan/CMakeFiles/tvbtest.dir/tvbtest_autogen/
将删除 epan/crypt/CMakeFiles/crypt.dir/crypt_autogen/
将删除 epan/crypt/crypt_autogen/include/
将删除 epan/dfilter/CMakeFiles/dfilter.dir/dfilter_autogen/
将删除 epan/dfilter/dfilter_autogen/include/
将删除 epan/dissectors/CMakeFiles/dissectors-corba.dir/dissectors-corba_autogen/
将删除 epan/dissectors/CMakeFiles/dissectors.dir/dissectors_autogen/
将删除 epan/dissectors/dissectors-corba_autogen/include/
将删除 epan/dissectors/dissectors_autogen/include/
将删除 epan/epan_autogen/include/
将删除 epan/ftypes/CMakeFiles/ftypes.dir/ftypes_autogen/
将删除 epan/ftypes/ftypes_autogen/include/
将删除 epan/wmem/CMakeFiles/wmem.dir/wmem_autogen/
将删除 epan/wmem/CMakeFiles/wmem_test.dir/wmem_test_autogen/
将删除 epan/wmem/wmem_autogen/include/
将删除 epan/wslua/CMakeFiles/wslua.dir/wslua_autogen/
将删除 epan/wslua/wslua_autogen/include/
将删除 extcap/CMakeFiles/androiddump.dir/androiddump_autogen/
将删除 extcap/CMakeFiles/dpauxmon.dir/dpauxmon_autogen/
将删除 extcap/CMakeFiles/extcap-base.dir/extcap-base_autogen/
将删除 extcap/CMakeFiles/randpktdump.dir/randpktdump_autogen/
将删除 extcap/CMakeFiles/sdjournal.dir/sdjournal_autogen/
将删除 extcap/CMakeFiles/udpdump.dir/udpdump_autogen/
将删除 extcap/androiddump_autogen/include/
将删除 extcap/dpauxmon_autogen/include/
将删除 extcap/extcap-base_autogen/include/
将删除 extcap/randpktdump_autogen/include/
将删除 extcap/sdjournal_autogen/include/
将删除 extcap/udpdump_autogen/include/
将删除 fuzz/CMakeFiles/fuzzshark.dir/fuzzshark_autogen/
将删除 fuzz/fuzzshark_autogen/include/
将删除 idl2wrs_autogen/include/
将删除 mergecap_autogen/include/
将删除 mmdbresolve_autogen/include/
将删除 packaging/macosx/path_helper/root/
将删除 packaging/rpm/BUILD/
将删除 packaging/rpm/RPMS/
将删除 packaging/rpm/SOURCES/
将删除 packaging/rpm/SRPMS/
将删除 plugins/codecs/G711/CMakeFiles/g711.dir/g711_autogen/
将删除 plugins/codecs/G711/g711_autogen/include/
将删除 plugins/codecs/G722/CMakeFiles/g722.dir/g722_autogen/
将删除 plugins/codecs/G722/g722_autogen/include/
将删除 plugins/codecs/G726/CMakeFiles/g726.dir/g726_autogen/
将删除 plugins/codecs/G726/g726_autogen/include/
将删除 plugins/codecs/iLBC/CMakeFiles/ilbc.dir/ilbc_autogen/
将删除 plugins/codecs/iLBC/ilbc_autogen/include/
将删除 plugins/codecs/l16_mono/CMakeFiles/l16mono.dir/l16mono_autogen/
将删除 plugins/codecs/l16_mono/l16mono_autogen/include/
将删除 plugins/codecs/opus_dec/CMakeFiles/opus_dec.dir/opus_dec_autogen/
将删除 plugins/codecs/opus_dec/opus_dec_autogen/include/
将删除 plugins/codecs/sbc/CMakeFiles/sbc.dir/sbc_autogen/
将删除 plugins/codecs/sbc/sbc_autogen/include/
将删除 plugins/epan/ethercat/CMakeFiles/ethercat.dir/ethercat_autogen/
将删除 plugins/epan/ethercat/ethercat_autogen/include/
将删除 plugins/epan/gryphon/CMakeFiles/gryphon.dir/gryphon_autogen/
将删除 plugins/epan/gryphon/gryphon_autogen/include/
将删除 plugins/epan/irda/CMakeFiles/irda.dir/irda_autogen/
将删除 plugins/epan/irda/irda_autogen/include/
将删除 plugins/epan/mate/CMakeFiles/mate.dir/mate_autogen/
将删除 plugins/epan/mate/mate_autogen/include/
将删除 plugins/epan/opcua/CMakeFiles/opcua.dir/opcua_autogen/
将删除 plugins/epan
/opcua/opcua_autogen/include/
将删除 plugins/epan/profinet/CMakeFiles/profinet.dir/profinet_autogen/
将删除 plugins/epan/profinet/profinet_autogen/include/
将删除 plugins/epan/stats_tree/CMakeFiles/stats_tree.dir/stats_tree_autogen/
将删除 plugins/epan/stats_tree/stats_tree_autogen/include/
将删除 plugins/epan/transum/CMakeFiles/transum.dir/transum_autogen/
将删除 plugins/epan/transum/transum_autogen/include/
将删除 plugins/epan/unistim/CMakeFiles/unistim.dir/unistim_autogen/
将删除 plugins/epan/unistim/unistim_autogen/include/
将删除 plugins/epan/wimax/CMakeFiles/wimax.dir/wimax_autogen/
将删除 plugins/epan/wimax/wimax_autogen/include/
将删除 plugins/epan/wimaxasncp/CMakeFiles/wimaxasncp.dir/wimaxasncp_autogen/
将删除 plugins/epan/wimaxasncp/wimaxasncp_autogen/include/
将删除 plugins/epan/wimaxmacphy/CMakeFiles/wimaxmacphy.dir/wimaxmacphy_autogen/
将删除 plugins/epan/wimaxmacphy/wimaxmacphy_autogen/include/
将删除 plugins/wiretap/usbdump/CMakeFiles/usbdump.dir/usbdump_autogen/
将删除 plugins/wiretap/usbdump/usbdump_autogen/include/
将删除 randpkt_autogen/include/
将删除 randpkt_core/CMakeFiles/randpkt_core.dir/randpkt_core_autogen/
将删除 randpkt_core/randpkt_core_autogen/include/
将删除 rawshark_autogen/include/
将删除 reordercap_autogen/include/
将删除 shark_common_autogen/include/
将删除 sharkd_autogen/include/
将删除 temp/
将删除 text2pcap_autogen/include/
将删除 tools/lemon/CMakeFiles/lemon.dir/lemon_autogen/
将删除 tools/lemon/lemon_autogen/include/
将删除 tshark_autogen/include/
将删除 ui/CMakeFiles/ui.dir/ui_autogen/
将删除 ui/qt/CMakeFiles/qtui.dir/manager/
将删除 ui/qt/CMakeFiles/qtui.dir/models/
将删除 ui/qt/CMakeFiles/qtui.dir/qtui_autogen/
将删除 ui/qt/CMakeFiles/qtui.dir/utils/
将删除 ui/qt/CMakeFiles/qtui.dir/widgets/
将删除 ui/qt/qtui_autogen/EF4ICWSDIF/
将删除 ui/qt/qtui_autogen/NQCY4LEWD2/
将删除 ui/ui_autogen/include/
将删除 version_info_autogen/include/
将删除 wireshark_autogen/include/
将删除 wiretap/CMakeFiles/wiretap.dir/wiretap_autogen/
将删除 wiretap/wiretap_autogen/include/
将删除 writecap/CMakeFiles/writecap.dir/writecap_autogen/
将删除 writecap/writecap_autogen/include/
将删除 wsutil/CMakeFiles/wsutil.dir/wsutil_autogen/
将删除 wsutil/wsutil_autogen/include/
将删除 plugins/epan/opcua/opcua_autogen/include/
config.txt.backup
